* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: #c6d0f5;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #292c3c;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303446;
    padding: 10px 0;
    
}

header span {
    margin: 0 10px;
}

header h1 {
    background-color: #303446;
}

header h2 {
    text-decoration: underline wavy;
    background-color: #303446;
}

main {
    height: 100%;
    background-color: #292c3c;
}

#timer-container {
    font-size: 2em;
    margin: 20px 0;
    padding: 10px;
    border: 2px solid #000;
    display: inline-block;
    border-radius: 10px;
}
button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: transparent;
    margin-left: 10px;
}